@model IEnumerable<BiblioMeta2.Models.Zanr>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Ustvari novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImeZanra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImeZanra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ZanrID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.ZanrID">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.ZanrID">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
